* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {

}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  border: 2px solid blue;
  box-shadow: 4px 6px 1px 4px blue;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

nav {
  font-weight: 700;
  z-index: 1;
  flex-wrap: wrap;
  max-width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#collection-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#collection-list li {
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.75rem;
  cursor: pointer;
}

#collection-list li:hover {
  background-color: #f5f5f5;
}

#collection-list img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

#collection-list h3 {
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

#card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#card img {
  margin-left: 1.5rem;
  max-width: 300px;
  border-radius: 4px;
  padding: 1rem;
  display: flex;

}

#card h3, #card h4, #card p{
  margin-left: 1.5rem;
  padding: 0.2rem;
}

.project-card:hover {
  background-color: var(--secondary);
  border: 2px solid var(--text);
  padding: 15px;
  box-shadow: 4px 6px 1px 4px var(--text);
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    background-color 0.2s;
}

#error-message {
  color: red;
  min-height: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.75rem;
}

.hidden {
  display: none !important;
}